<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>상품 목록</h1>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>price</th>
        <th>rating</th>
        <th>reviewCount</th>
        <th>thumbnail</th>
    </tr>
    <tr th:each="product: ${products}">
        <td th:text="${product.id}"></td>
        <td>
            <a th:href="'/products/' + ${product.id}"
               th:text="${product.name}">
            </a>
        </td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.rating}"></td>
        <td th:text="${product.reviewCount}"></td>
        <td th:text="${product.thumbnailImageUrl}"></td>
    </tr>
</table>
</body>
</html>