<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>상품 목록</h1>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>price</th>
        <th>rating</th>
        <th>reviewCount</th>
        <th>thumbnail</th>
        <th>delete</th>
    </tr>
    <tr th:each="product: ${products}">
        <td th:text="${product.id}"></td>
        <td>
            <a th:href="'/products/manage/' + ${product.id}"
               th:text="${product.name}">
            </a>
        </td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.rating}"></td>
        <td th:text="${product.reviewCount}"></td>
        <td>
            <span th:if="!${product.thumbnailImageUrl}">상품 이미지 없음</span>
            <img th:if="${product.thumbnailImageUrl}"
                 th:src="${product.thumbnailImageUrl}" alt="productImage"/>
        </td>
        <td>
            <button th:onclick="'deleteHandle(' + ${product.id} + ')'">Delete</button>
        </td>
    </tr>
</table>
<a href="/products/manage/regist">상품 등록</a>

<script>
    const deleteHandle = (productId) => {
        console.log(`remove ${productId}.`);
        const form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/products/manage/" + productId);

        const inputElement = document.createElement("input");
        inputElement.setAttribute("type", "hidden");
        inputElement.setAttribute("name", "_method");
        inputElement.setAttribute("value", "delete");
        form.appendChild(inputElement);
        document.body.appendChild(form);
        form.submit();
    }
</script>
</body>
</html>