<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>상품 등록</h1>
<form th:object="${productRegisterForm}" action="/products/manage" method="post">
    <div>
        <label for="name">상품명</label>
        <input type="text" id="name" th:field="*{name}"
               placeholder="">
    </div>
    <div>
        <label for="price">가격</label>
        <input type="number" id="price" th:field="*{price}"
               placeholder="">
    </div>
    <div>
        <label for="image">이미지</label>
        <input type="file" id="image"
               placeholder="" th:onchange="update()">
        <button type="button" onclick="imageCancel()">취소</button>
    </div>
    <div>
        <label for="barcode">바코드</label>
        <input type="text" id="barcode" th:field="*{barcode}"
               placeholder="">
    </div>
    <img th:src="*{imageUrl}" alt="product-image" id="productImage">
    <input type="text" id="imageUrl" th:field="*{imageUrl}" hidden>
    <input type="text" id="thumbnailImageUrl" th:field="*{thumbnailImageUrl}" hidden>
    <button type="submit">Submit</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    const imageCancel = () => {
        const image = document.querySelector('#image');
        const imageUrl = document.querySelector('#imageUrl');
        const thumbnailImageUrl = document.querySelector('#thumbnailImageUrl');
        const productImage = document.querySelector('#productImage');
        image.value = '';
        image.removeAttribute('disabled');
        imageUrl.value = null;
        thumbnailImageUrl.value = null;
        productImage.setAttribute('src', '');
    }
</script>
<script th:inline="javascript">
    const update = () => {
        const apiKey = [[${@environment.getProperty('key.img_bb')}]];
        const image = document.querySelector('#image');
        const imageUrl = document.querySelector('#imageUrl');
        const thumbnailImageUrl = document.querySelector('#thumbnailImageUrl');
        const productImage = document.querySelector('#productImage');
        let formData = new FormData();
        formData.append('image', image.files[0]);

        $.ajax({
            url: "https://api.imgbb.com/1/upload?key=" + apiKey,
            enctype: 'multipart/form-data',
            type: 'post',
            data: formData,
            contentType: false,
            processData: false,
            success: function (result) {
                if (result.success) {
                    const data = result.data;
                    imageUrl.value = data.image.url;
                    thumbnailImageUrl.value = data.thumb.url;
                    productImage.setAttribute('src', data.image.url);
                    image.setAttribute('disabled', 'true');
                }
            },
            error: function (error) {
                console.error(error);
                alert("error!!!");
            }
        });
    }

</script>

</body>
</html>