<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문 목록</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
    <h1>주문 내역 관리</h1>
    <table>
        <thead>
        <tr>
            <th>주문번호</th>
            <th>주문자</th>
            <th>결제상태</th>
            <th>배송상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}">202403110075154</td>
            <td>
                <a th:href="'/orders/' + ${order.id}"
                   th:text="${order.recipientName}">
                </a>
            </td>
            <td>
                <div th:switch="${order.paymentStatus}">
                    <p th:case="${T(com.s001.shoppingmall.order.entity.PaymentStatus).COMPLETED}"
                       th:text="결제완료">status1</p>
                    <p th:case="${T(com.s001.shoppingmall.order.entity.PaymentStatus).REFUNDED}"
                       th:text="환불완료">status2</p>
                </div>
            </td>
            <td>
                <div th:switch="${order.deliveryStatus}">
                    <p th:case="${T(com.s001.shoppingmall.order.entity.DeliveryStatus).DELIVERY_IN_PROGRESS}"
                       th:text="배송중">status1</p>
                    <p th:case="${T(com.s001.shoppingmall.order.entity.DeliveryStatus).DELIVERY_COMPLETED}"
                       th:text="배송완료">status2</p>
                    <p th:case="${T(com.s001.shoppingmall.order.entity.DeliveryStatus).ORDER_CANCELED}"
                       th:text="주문취소">status3</p>
                    <p th:case="${T(com.s001.shoppingmall.order.entity.DeliveryStatus).ORDER_COMPLETED}"
                       th:text="주문완료">status4</p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/home">홈으로</a>
</body>
</html>
